@import "tailwindcss";

@theme {
    --color-primary-blue: #1062FF;
    --color-primary-dark: #0046CC;
    --color-app-bg: #F8FAFC;
    --color-card-bg: #FFFFFF;
    --color-border-gray: #E5E7EB;
    --color-text-primary: #374151;
    --color-text-secondary: #6B7280;
    --color-success: #10B981;
    --color-danger: #EF4444;
    --color-warning: #F59E0B;
    --color-info: #3B82F6;
    --color-accent: #8B5CF6;

    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@utility bg-app {
    background-color: var(--color-app-bg);
}

@utility card-shadow {
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--color-border-gray);
}


.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}